body {
    background-color: #343435;
    color: #b6b6b2;
    font-size: 26px;
    font-family: "sans-serif";
}
div{
    justify-content: center;
    align-items: center;
}
input{
    font-size: 26px;
    font-family: "sans-serif";
    letter-spacing: 3px;
    background-color: #343435;
    color: #b6b6b2;
}
