
/node_modules
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync.cmd
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync.ps1
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/concurrently
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync.cmd
portifolio/
typescript-curso-1-arquivos-iniciais/dist/js/models/node_modules/.bin/browser-sync.cmd
portifolio/README.md
project2/project2/
