@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root{
	--corDeFundoDiv: rgba(0, 0, 255, .2)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', Verdana, 'Geneva', Tahoma, sans-serif;
}

body {
	background-color: rgb(68, 66, 66);
	color: #bfc5c5;
	margin: 0;
	font-family: 'Quicksand';
	transition: all 0.5s linear;
}

body.light-mode {
	background-color: rgb(167, 167, 167);
	color: hsl(0, 3%, 15%);
	transition: all 0.5s linear;
}

main div {
	text-align: center;
}

main section div {
	display: grid;
	margin: 5px;
	padding: 10px;
	grid-template-columns: 1fr;
}
main section div:nth-child(1) {
	background-color: rgba(188, 188, 0, 0.5);
}

main section div:nth-child(2) {
	background-color: var(--corDeFundoDiv);
}

main section div:nth-child(3) {
	background-color: var(--corDeFundoDiv);
}

main section div:nth-child(4) {
	background-color: rgba(255, 140, 0, 0.6);
}

main section div:nth-child(5) {
	background-color: var(--corDeFundoDiv);
}

main section div:nth-child(6) {
	background-color: var(--corDeFundoDiv);
}

main section div:nth-child(7) {
	background-color: rgba(255, 10, 10, 0.4);
}

main section div:nth-child(8) {
	background-color: var(--corDeFundoDiv);
}

nav {
	background-color: #8d9797;
	color: #000401;
}

nav.light-mode {
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}

section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 80vh;
	width: 100%;
}

h3, h5 {
	padding: 0px;
	font-size: 20px;
	text-align: center;
}

textarea {
	background-color: rgb(62, 62, 85);
	font-weight: 600;
	font-size: 10px;
	padding: 5px;
	border-radius: 8px;
	width: 100%;
	height: 10vh;
	color: #bfc5c5;
}

p {
	font-weight: 400;
	font-size: 15px;
	padding: 0px;
	font-weight: 700;
}

.botao {
	background-color: #164d6d;
	color: #bfc5c5;
	width: 100%;
	height: 8vh;
	text-align: center;
	font-size: 16px;
	border-radius: 15px;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

.botao:hover {
	background-color: rgba(87, 152, 182, 0.8);
	border: 2px solid rgb(27, 26, 26);
	color: #111;
	font-weight: 600;
	cursor: pointer;
}

.botao.light-mode {
	background-color: #bfc5c5;
	color: #164d6d;
	cursor: pointer;
}

.botao.light-mode:hover{
	background-color: rgb(27, 26, 26);
	border: 2px solid rgba(87, 152, 182, 0.8);
	cursor: pointer;
}
#mode-selector {
	border-radius: 10px;
	margin: 0 auto;
	font-size: 1.1rem;
	height: 5vh;
	width: 200px;
	border: none;
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
	cursor: pointer;
}

#mode-selector:hover {
	background-color: #333;
	cursor: pointer;
}

#mode-selector.light-mode {
	background-color: #e5e8e8;
	color: #4e545c;
	cursor: pointer;
}

#mode-selector.light-mode:hover {
	background-color: #565b61;
	color: #e5e8e8;
	cursor: pointer;
}

footer {
	background-color: #8d9797;
	color: #000401;
	width: 100%;
	padding: 16px;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 600;
	transition: all 0.5s linear;
}

footer.light-mode {
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}

.alert-box {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid .5;
	border-radius: 4px;  
}

.success {
	color: black;
	background-color: green;
	border-color: #d6e9c6;
	display: none;
}

.failure {
	color: black;
	background-color: red;
	border-color: #ebccd1;
	display: none;
}

.warning {
	color: black;
	background-color: orange;
	border-color: #faebcc;
	display: none;
}

@media only screen and (max-width: 420px) {
  body {
		display: block;
		font-size: 10px;
		margin: 0;
		padding: 0;
	}
	section {
       display: block;
			 margin: 0;
			 padding: 0;
  }
	footer {
		display: none;
	}
}

