@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root{
	--corDeFundoDiv: rgba(0, 0, 255, .2)
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	background-color: rgb(68, 66, 66);
	color: #bfc5c5;
	margin: 0;
	transition: all 0.5s linear;
	justify-content: center;
	align-items: center;
}
body.light-mode {
	background-color: rgb(167, 167, 167);
	color: hsl(0, 3%, 15%);
	transition: all 0.5s linear;
}
main {
	justify-content: center;
	align-items: center;
}
main div {
	text-align: center;
}
main section div {
	display: grid;
	margin: 5px;
	padding: 5px;
	grid-template-columns: 1fr;
}
.a div {
	background-color: rgba(104, 100, 100, 0.5);
}
.destaque div:nth-child(1) {
	background-color: rgba(188, 188, 0, 0.5);
}
.destaque div:nth-child(2) {
	background-color: rgba(255, 140, 0, 0.6);
}
.destaque div:nth-child(3) {
	background-color: rgba(255, 10, 10, 0.4);
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
	background-color: #787878;
	color: #000401;
	padding: 0 10px;
}
div .nav-menu {
	align-items: center;
	background-color: #a1a1a1;
	border: none;
	border-radius: 5px;
	color: #e5e8e8;
	cursor: pointer;
	height: 40px;
	justify-content: center;
	opacity: .7;
	transition: all 0.5s linear;
}
.nav-menu:hover {
	background-color: rgb(133, 133, 133);
	cursor: pointer;
}
.nav-menu.light-mode {
	background-color: #1d1d1d;
	color: #4e545c;
	cursor: pointer;
}
.nav-menu.light-mode:hover {
	background-color: rgb(156, 156, 156);
	color: #e5e8e8;
	cursor: pointer;
}
nav div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}
main nav div div h3{
	display: flex;
	justify-content: center;
	align-items: center;

}
nav div div a {
	text-decoration: none;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	justify-content: center;
	align-items: center;
}
.a {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.titulo-principal {
	background-color: #747474;
	color: #000401;
	width: 100%;
	height: 20px;
}
nav.light-mode, .titulo-principal.light-mode {
	background-color: #747474;
	color: #e5e8e8;
	transition: all 0.5s linear;
}
.section-baixa {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	max-height: 100vh;
}
.section-supervisao {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	max-height: 100vh;
}
h3 {
	padding: 0px;
	margin-right: 10px;
	font-size: 16px;
	text-align: center;
}
textarea {
	background-color: rgb(62, 62, 85);
	margin: 5px;
	font-size: 10px;
	padding: 5px;
	border-radius: 8px;
	width: 95%;
	height: 60px;
	color: #bfc5c5;
}
p {
	font-size: 12px;
	margin: 5px;
}
.dataFormatada {
	display: flex;
	position: absolute;
	top: 20px;
	right: 15px;
	font-size: 1.1em;
}
.botao {
	background-color: #164d6d;
	margin: 2px;
	color: #bfc5c5;
	width: 95%;
	height: 50px;
	text-align: center;
	font-size: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.botao:hover {
	background-color: rgba(87, 152, 182, 0.8);
	border: 2px solid rgb(27, 26, 26);
	color: #111;
	cursor: pointer;
}
.botao.light-mode {
	background-color: #bfc5c5;
	color: #164d6d;
	cursor: pointer;
}
.botao.light-mode:hover{
	background-color: rgb(27, 26, 26);
	border: 2px solid rgba(87, 152, 182, 0.8);
	cursor: pointer;
}
#mode-selector {
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	height: 40px;
	width: 100px;
	border: none;
	background-color: #555;
	color: #fff;
	transition: all 0.5s linear;
	cursor: pointer;
}
#mode-selector:hover {
	background-color: #999;
	cursor: pointer;
}
#mode-selector.light-mode {
	background-color: #e5e8e8;
	color: #4e545c;
	cursor: pointer;
}
#mode-selector.light-mode:hover {
	background-color: #747474;
	color: #e5e8e8;
	cursor: pointer;
}
footer {
	background-color: #8d9797;
	color: #000401;
	width: 100%;
	padding: 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	transition: all 0.5s linear;
}
footer.light-mode {
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}
.prazo, .sessenta, .noventa, .centoevinte, .centoesessenta {
	font-size: 14px;
	text-align: right;
}
#status {
	display: block;
}
#status div p {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0;
}
#status div p{
	font-weight: normal;
	font-size: 12px;
	text-align: justify;
}
@media only screen and (max-width: 700px) {
  	body {
		grid-template-columns: 1fr;
		font-size: 10px;
		margin: 0;
		padding: 0;
		
	}
	main {
		grid-template-columns: 1fr;

	}
	section {
		grid-template-columns: 1fr;
	   margin: 0;
	   padding: 0;
	   width: 100%;
	}
	div {
		grid-template-columns: 1fr;
		width: 100%;
	}
	.a div {
		grid-template-columns: 1fr;
		width: 100%;
	}
	footer, nav {
		display: none;
	}
}
