@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root{
	--corDeFundoDiv: rgba(0, 0, 255, .2)
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	background-color: rgb(68, 66, 66);
	color: #bfc5c5;
	margin: 0;
	transition: all 0.5s linear;
}
body.light-mode {
	background-color: rgb(167, 167, 167);
	color: hsl(0, 3%, 15%);
	transition: all 0.5s linear;
}
main {
	justify-content: center;
	align-items: center;

}
main div {
	text-align: center;
}
main section div {
	display: grid;
	margin: 5px;
	padding: 5px;
	grid-template-columns: 1fr;
}
main section div:nth-child(7) {
	background-color: rgba(188, 188, 0, 0.5);
}
main section div:nth-child(8) {
	background-color: rgba(255, 140, 0, 0.6);
}
main section div:nth-child(9) {
	background-color: rgba(255, 10, 10, 0.4);
}
nav {
	justify-content: space-evenly;
	right: 10px;
	align-items: center;
	opacity: 0.6;
	background-color: #8d9797;
	color: #000401;
}
nav div{
	display: flex;
	justify-content: space-evenly;
}
.titulo-principal {
	background-color: #8d9797;
	color: #000401;
	width: 100%;
	height: 40px;
}
nav.light-mode, .titulo-principal.light-mode {
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}
section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	max-height: 100vh;
}
h3 {
	padding: 0px;
	font-size: 16px;
	text-align: center;
}
textarea {
	background-color: rgb(62, 62, 85);
	margin: 5px;
	font-size: 10px;
	padding: 5px;
	border-radius: 8px;
	width: 90%;
	height: 50px;
	color: #bfc5c5;
}
p {
	font-size: 12px;
	padding: 0px;
}
.dataFormatada {
	display: inline;
	position: relative;
	font-size: 1.1em;
}
.botao {
	background-color: #164d6d;
	margin: 5px;
	color: #bfc5c5;
	width: 90%;
	height: 200px;
	text-align: center;
	font-size: 12px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.botao:hover {
	background-color: rgba(87, 152, 182, 0.8);
	border: 2px solid rgb(27, 26, 26);
	color: #111;
	cursor: pointer;
}
.botao.light-mode {
	background-color: #bfc5c5;
	color: #164d6d;
	cursor: pointer;
}
.botao.light-mode:hover{
	background-color: rgb(27, 26, 26);
	border: 2px solid rgba(87, 152, 182, 0.8);
	cursor: pointer;
}
#mode-selector {
	border-radius: 5px;
	margin: 0 auto;
	font-size: 1.1rem;
	height: 40px;
	width: 100px;
	border: none;
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
	cursor: pointer;
}
#mode-selector:hover {
	background-color: #333;
	cursor: pointer;
}
#mode-selector.light-mode {
	background-color: #e5e8e8;
	color: #4e545c;
	cursor: pointer;
}
#mode-selector.light-mode:hover {
	background-color: #565b61;
	color: #e5e8e8;
	cursor: pointer;
}
footer {
	background-color: #8d9797;
	color: #000401;
	width: 100%;
	padding: 16px;
	position: fixed;
	bottom: 0;
	text-align: center;
	transition: all 0.5s linear;
}
footer.light-mode {
	background-color: #4e545c;
	color: #e5e8e8;
	transition: all 0.5s linear;
}
@media only screen and (max-width: 420px) {
  body {
		display: block;
		font-size: 10px;
		margin: 0;
		padding: 0;
	}
	section {
       display: block;
			 margin: 0;
			 padding: 0;
  }
	footer {
		display: none;
	}
}
.a {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.a .botao{
	width:100%;
	height: 100%;
}
.a .estilo {
	width: 100%;
	height: 100%;
}
