body {
    font-family: 'arial';
    background-color: #c7e6ee;
}

h1 {
    color: rgb(57, 13, 87);
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vh;
}

p input {
    min-width: 30px;
    min-height: 30px;
    vertical-align: middle;
}

label {
    color: rgb(114, 25, 141);
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
}

p {
    padding-left: 1em;
    color: rgb(31, 75, 78);
    font-weight: 700;
    padding-left: 10px;
}

label:hover {
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}