* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sans Serif';
}
/*só para visualizar melhor*/
.item img {
    width: 30px;
}
/*topo da página com a barra de navegação do site*/
.topo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #1a2b3c;
}
.topo-menu a {
    text-decoration: none;
    color: #fff;
}
.topo-menu .menu-item .lista {
    display: flex;
    list-style: none;
}
.topo-menu .menu-item .lista .item a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: .5px solid #444444;
    background-color: #002142;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.topo-menu .menu-item .lista .item a:hover{
    background-color: #222aaa;
    transition: .5s;
}
/*corpo da página ou seção de conteúdo*/
.limita-secao {
    width: 90%;
    margin: 0 auto;
}
#sobre, #cursos, #experiencia, #contato {
    border-top: 1px solid #1a2b3c;
    padding-top: 50px;
}
.lista-cursos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.lista-cursos li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 29%;
}
.lista-cursos a img {
    width: 50px;
}
/*rodapé da página com um link que volta ao começo da página*/
.rodape {
    padding: 10px 25px;
    background-color: #1a2b3c;
    color: #fff;
}
.rodape a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    background-color: #002142;
    box-shadow: -2px 2px 5px #555;
}
.rodape a:hover {
    background-color: #222aaa;
    transition: .5s;
}
.rodape div {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}