* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*só para visualizar melhor*/
.item img {
    width: 30px;
}
/*topo da página com a barra de navegação do site*/
.topo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #1a2b3c;
}
.topo-menu a {
    text-decoration: none;
    color: #fff;
}
.topo-menu .menu-item .lista {
    display: flex;
    list-style: none;
}
.topo-menu .menu-item .lista .item a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #777;
    box-shadow: -5px 5px 5px #222;
    border: .5px solid #444444;
    border-radius: 5px;
    margin-right: 20px;
}
.topo-menu .menu-item .lista .item a:hover{
    background-color: #222aaa;
    transition: .5s;
}
/*corpo da página ou seção de conteúdo*/
.limita-secao {
    width: 80%;
    margin: 0 auto;
    height: 35vh;
}
#sobre, #cursos, #experiencia, #contato {
    padding-top: 50px;
    padding-bottom: 50px;
}
section:nth-child(odd) {
    background-color: #1f9f9f;
    color: black;
}
section:nth-child(odd) a{
    text-decoration: none;
    color:black;
}
section:nth-child(even) a {
    text-decoration: none;
    color: white;
}
section:nth-child(even) {
    background-color: #002142;
    color: white;

}
p {
    line-height: 32px;
}
.lista-cursos {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
}
.lista-cursos li {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 18%;
    margin-left: 15px;
}
.lista-cursos a img {
    width: 50px;
}
.progress {
    display: flex;
}
.barra {
    background-color: #777;
    width: 100%;
    border: 5px solid #777;
}
.intermediario {
    background-color: green;
    justify-content: start;
    width: 75%;
    padding: 15px;
}
.iniciante {
    background-color: green;
    justify-content: start;
    width: 25%;
    padding: 15px;
}
/*rodapé da página com um link que volta ao começo da página*/
.rodape {
    padding: 10px 25px;
    background-color: #002142;
    color: #fff;
}
.rodape a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #777;
    box-shadow: -5px 5px 5px #222;
    border: .5px solid #444444;
    border-radius: 5px;
}
.rodape a:hover {
    background-color: #222aaa;
    transition: .5s;
}
.rodape div {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}