.area-botao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area-botao button {
  margin-top: 20px;
  width: 150px;
  padding: 15px;
  border:none;
  color:white;
  background-color: rgb(0, 182, 182);
  border-radius: 5px;
  cursor: pointer;
}