* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
input[type="file"] { 
    display:list-item;
 }
 

label, button {
    border: 1px solid #cecece;
    border-radius: 5px;
    background-color: royalblue;
    color: #fff;
}

label:hover, button:hover {
    background-color: blue;
}

