* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="file"] { 
    display: flex;
}
label, button {
    text-align: center;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    background-color: royalblue;
    color: #fff;
    margin: 10px 0;
    width: 200px;
}
div {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid;
    margin: 10px 0;
}
label:hover, button:hover {
    background-color: blue;
}
 