* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="file"] { 
    display:flex;
}
label, button {
    border: 1px solid #cecece;
    border-radius: 5px;
    background-color: royalblue;
    color: #fff;
}
div {
    box-sizing: border-box;
    border: 2px solid;
    padding: 10px;
}
label:hover, button:hover {
    background-color: blue;
}
 